* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex; 
  align-items: center;
  justify-content: center;
  font-family: Inter;
  padding: 24 px 16 px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 11px;
  height: 80px;
  background-color: white;
}

header > img {
  height: 52px;
  width: 43px;
}

header > h1 {
  font-size: 2rem;
  font-weight: 400;
}