* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background-color: #282d35;
}

header {
  height: 90px;
  background-color: #21222a;
}

nav {
  display:flex;
  align-items: center;
  height:100%;
  padding: 30px 25px
}

nav > img {
  width: 40px;
  margin-right: 7px;
}

nav > span {
  color: #61dafb;
  font-size: 1.4rem;
  font-weight:700;
}

main {
  background-color: #282d35;
  padding: 30px 30px;
  background-image: url('half-logo.png');
  background-repeat: no-repeat;
  background-position: right 0px top 100px
}

main > h1 {
  color: #FFFFFF;
  font-size:2.5rem;
  font-weight: 700;
}

main > ul {
  color: #FFFFFF;
  font-weight:400;
  line-height: 40px;
}

main > ul > li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}